<section class="map-section">
  <h1 class="title"><i class="icon-spoon-knife"></i>{{ title }}</h1>
  <restaurants-filter></restaurants-filter>
  <google-map
    (restaurantsToDisplayEvent)="setRestaurantsToDisplay($event)"
  ></google-map>
</section>

<section class="restaurants-section">
  <modal
    [isOpen]="restaurantsService.restaurantFormModal"
    (close)="restaurantsService.restaurantFormModal = false"
  >
    <h2 modalHeader>Ajouter un restaurant :</h2>
    <restaurant-form modalContent></restaurant-form>
  </modal>

  <div class="restaurants">
    <restaurants-list></restaurants-list>
  </div>
</section>
