@import './../../../variables';

:host {
  background-color: black;
}

.content {
  background-color: $backgroundColor;
  height: 100vh;
  padding: 10px 15px;
}

.restaurants {
  display: flex;
  flex-direction: left;
  justify-content: space-between;
  margin-top: 10px;
}

.title {
  color: $textColor;
  font-family: AsapSymbol, Arial, Helvetica, sans-serif;
  margin-top: 0;
  font-size: 1.5em;
}

restaurants-list {
  flex: 1;
}
