@import './../../../variables';

:host {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  background-color: $lightGray;
  justify-content: center;
  flex-wrap: wrap;
}

.map-section {
  margin: 25px;
}

.restaurants-section {
  overflow: scroll;
  height: 100vh;
  scrollbar-width: thin;
}

.restaurants {
  display: flex;
  flex-direction: left;
  justify-content: space-between;
  margin-top: 10px;
}

.title {
  color: $green;
  font-family: AsapSymbol, Arial, Helvetica, sans-serif;
  margin-top: 0;
  font-size: 1.5em;

  .icon-spoon-knife {
    color: $darkGreen;
    padding-right: 5px;
  }
}

restaurants-list {
  flex: 1;
}

@media screen and (max-width: 1000px) {
  .map-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
