@import './../../../variables';

:host {
  display: flex;
  background-color: $grayLight;
  justify-content: center;
}

.content {
}

.restaurants {
  display: flex;
  flex-direction: left;
  justify-content: space-between;
  margin-top: 10px;
}

.title {
  color: $textColor;
  font-family: AsapSymbol, Arial, Helvetica, sans-serif;
  margin-top: 0;
  font-size: 1.5em;
}

restaurants-list {
  flex: 1;
}
