@import './../../../../../variables';

.review-form {
    display: flex;
    flex-direction: column;

    label{
        margin-bottom:5px;
    }

    input{
        margin-bottom:15px;
    }

    #rating{
        width: 50px;    
    }

    greenButton{
        margin:15px 0;
    }

    .restaurant-name{
        color: $green;
        text-transform: uppercase;    
    }
}