<div>
  <form (ngSubmit)="addRestaurantReview()" class="review-form">
    <p class="restaurant-name">{{ restaurant.name }}</p>
    <label for="rating">Note : </label>
    <input
      id="rating"
      type="number"
      [(ngModel)]="review.rating"
      name="rating"
      patern="//"
      required
    />
    <label for="textearea">Commentaire : </label>
    <textarea
      id="comment"
      [(ngModel)]="review.comment"
      name="comment"
      required
    ></textarea>
    <greenButton (click)="(submit)">
      Envoyer mon avis
    </greenButton>
    <p class="error" *ngIf="error">{{ messageError }}</p>
    <p class="confirmation" *ngIf="confirmation">
      Votre avis a bien été rajouté.
    </p>
  </form>
</div>
