@import "variables"

@font-face
  font-family 'icomoon'
  src url(icomoon-font-path + '/icomoon.eot?hj7ufd')
  src url(icomoon-font-path + '/icomoon.eot?hj7ufd#iefix') format('embedded-opentype'), url(icomoon-font-path + '/icomoon.ttf?hj7ufd') format('truetype'), url(icomoon-font-path + '/icomoon.woff?hj7ufd') format('woff'), url(icomoon-font-path + '/icomoon.svg?hj7ufd#icomoon') format('svg')
  font-weight normal
  font-style normal
  font-display block

i
  font-family 'icomoon' !important
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-semi-circle
  &:before
    content icon-semi-circle
.icon-empty-circle
  &:before
    content icon-empty-circle
.icon-full-circle
  &:before
    content icon-full-circle
.icon-plus
  &:before
    content icon-plus

