<div class="restaurants-list">
  <ul *ngFor="let restaurant of restaurantsService.getRestaurantsToDisplay()">
    <li>
      <header>
        <div
          class="title"
          (click)="displayOrCloseRestaurantDetails(restaurant)"
        >
          <p class="restaurant-name">
            {{ restaurant.name }}
          </p>
          <div class="align-title">
            <rating-bar
              *ngIf="restaurant.reviews.length > 0; else noReviews"
              class="average"
              [rating]="restaurantsService.getRatingsAverage(restaurant)"
            ></rating-bar>
            <ng-template #noReviews
              ><p class="no-review">(Pas d'avis)</p></ng-template
            >
            <i class="icon-chevron-bottom"></i>
          </div>
        </div>
      </header>
      <body>
        <modal
          [isOpen]="restaurantsService.reviewFormModal === restaurant.id"
          (close)="restaurantsService.reviewFormModal = ''"
        >
          <h2 modalHeader>Ajouter un avis :</h2>
          <review-form modalContent [restaurant]="restaurant"></review-form>
        </modal>
        <div class="details" *ngIf="displayRestaurantDetails === restaurant.id">
          <static-street-view
            [staticStreetViewUrl]="staticStreetViewUrl"
          ></static-street-view>
          <greenButton
            class="adding-review"
            (click)="restaurantsService.displayReviewForm(restaurant.id)"
          >
            <i class="icon-bubbles3" title="Ajouter un avis"></i>
            Ajouter un avis
          </greenButton>

          <comments [reviews]="restaurant.reviews"></comments>
        </div>
      </body>
    </li>
  </ul>
</div>
