<div class="restaurants-list">
  <ul *ngFor="let restaurant of restaurantsService.getRestaurantsToDisplay()">
    <li (click)="displayOrCloseComments(restaurant.id)">
      <div class="title">
        {{ restaurant.name
        }}<rating-bar
          class="average"
          [rating]="restaurantsService.getRatingsAverage(restaurant)"
        ></rating-bar>
      </div>
      <comments
        [reviews]="restaurant.reviews"
        *ngIf="displayRestaurantComments === restaurant.id"
      ></comments>
    </li>
  </ul>
</div>
