<div class="restaurants-list">
  <ul *ngFor="let restaurant of restaurantsService.getRestaurantsToDisplay()">
    <li>
      <header>
        <div class="title" (click)="displayOrCloseComments(restaurant.id)">
          {{ restaurant.name
          }}<rating-bar
            class="average"
            [rating]="restaurantsService.getRatingsAverage(restaurant)"
          ></rating-bar>
        </div>
        <i
          class="icon-plus"
          title="Ajouter un avis"
          (click)="restaurantsService.displayReviewForm(restaurant.id)"
        ></i>
      </header>
      <body>
        <review-form
          *ngIf="restaurantsService.reviewFormModal === restaurant.id"
          [restaurantName]="restaurant.name"
        ></review-form>

        <comments
          [reviews]="restaurant.reviews"
          *ngIf="displayRestaurantComments === restaurant.id"
        ></comments>
      </body>
    </li>
  </ul>
</div>
