@import "variables"

@font-face
  font-family 'rating-circle'
  src url(icomoon-font-path + '/rating-circle.eot?p2xg7g')
  src url(icomoon-font-path + '/rating-circle.eot?p2xg7g#iefix') format('embedded-opentype'), url(icomoon-font-path + '/rating-circle.ttf?p2xg7g') format('truetype'), url(icomoon-font-path + '/rating-circle.woff?p2xg7g') format('woff'), url(icomoon-font-path + '/rating-circle.svg?p2xg7g#rating-circle') format('svg')
  font-weight normal
  font-style normal
  font-display block

i
  font-family 'rating-circle' !important
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-semi-circle
  &:before
    content icon-semi-circle
.icon-empty-circle
  &:before
    content icon-empty-circle
.icon-full-circle
  &:before
    content icon-full-circle

