icomoon-font-path ?= "fonts"

icon-semi-circle = "\e901"
icon-empty-circle = "\e902"
icon-full-circle = "\e903"
icon-plus = "\e900"
icon-bubbles3 = "\e96f"
icon-spoon-knife = "\e9a3"
icon-chevron-bottom = "\e904"

