$textColor = #0d0d0d;
$backgroundColor = gainsboro;
$darkGreen = rgba(34, 88, 61, 1);
$green = rgba(67, 157, 118, 1);
$lightGreen=rgba(215, 238, 211, 1);
$errorColor = #910121;
$confirmationColor = green;
$lightGray = #f2f2f2;

.error {
    color: $errorColor;
}

.confirmation {
    color: $confirmationColor;
}
