$textColor = #0d0d0d;
$backgroundColor = gainsboro;
$green = #bedcb2;
$errorColor = #910121;
$confirmationColor = #027146;
$grayLight = #e8e9dc;
$gray = #faf8e8;

.error {
    color: $errorColor;
}

.confirmation {
    color: $confirmationColor;
}